@{
    ViewData["Title"] = "My Calendar";
}


<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {

            initialView: 'dayGridMonth',
            events: @Html.Raw(ViewData["Events"]),
            resources: @Html.Raw(ViewData["Resources"]),
            headerToolbar: {
                //locale: 'pt-br',
                left: 'today prev,next',
                center: 'title',
                right: 'dayGridMonth,dayGridWeek,dayGridDay,listMonth' // user can switch between the two
            },
            //locale: 'pt-br',
            buttonIcons: false, // show the prev/next text
            weekNumbers: true,
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            dayMaxEvents: true // allow "more" link when too many events

        });
        calendar.render();
    });

</script>

<div class="text-center">
    <h1 class="display-4">Bem vindo ao App de Calendário!</h1>
    <div id='calendar'></div>
</div>